@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    animation:fadeIn 1s ease-in;
    background-color: #464A5D;
    overflow-x: hidden;
}